@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree:200,regular,500,600,700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header__container,
.tayler__wrap {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.lead__wrap,
.heppy__wpap,
.awards__wrap,
.portfolio__wrap,
.services__wrap,
.customer__wrap {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.services__img,
.customer__img {
  padding-bottom: 22px;
  margin: 0 auto;
  display: block;
}

.portfolio__title,
.services__title,
.customer__title {
  padding-bottom: 10px;
  text-align: center;
}

.portfolio__parag,
.services__parag {
  letter-spacing: 1.44px;
  padding-bottom: 60px;
  text-align: center;
}

.button-border,
.tayler__talk {
  border: solid 1px;
  padding: 11px 26px 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.tayler__got {
  padding: 13px 33px;
  background: black;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

body {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 400;
  color: #161513;
  background: #F5F5F5;
}

body.locked {
  overflow: hidden;
}

.heppy .heppy__wpap .heppy__column .heppy__title,
.lead .lead__wrap .lead__left .lead__left-title,
h1 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.56px;
}

.portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__title,
.awards .awards__wrap .awards__title,
.portfolio__title,
.services__title,
.customer__title {
  font-size: 45px;
  line-height: 56px;
  letter-spacing: 1.44px;
}

.services .services__wrap .services-row .services-row__column .services-column__title,
.lead .lead__wrap .lead-right > p {
  font-size: 31px;
  line-height: 40px;
  letter-spacing: 0.64px;
}

.awards .awards__wrap .awards__column .awards-row .awards-row__title,
.lead .lead__wrap .lead-right .lead-column .lead-items .lead-items__bottom,
.lead .lead__wrap .lead__left .lead__left-strip p,
.tayler .tayler__wrap .tayler__container .tayler__strip p {
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0.48px;
}

.portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__parag {
  font-size: 20px;
  line-height: 32px;
}

.services .services__wrap .services-row .services-row__column .services-column__parag,
.portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__subtitle p,
.awards .awards__wrap .awards__column .awards-row .awards-row__parag,
.awards .awards__wrap .awards__column .awards-square .awards-square__title,
.awards .awards__wrap .awards__parag,
.lead .lead__wrap .lead-right .lead-right__title,
.portfolio__parag,
.services__parag {
  font-size: 18px;
  line-height: 32px;
}

.awards .awards__wrap .awards__column .awards__right,
.heppy .heppy__wpap .heppy__column .heppy__parag {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 1.28px;
}

body {
  font-size: 16px;
  line-height: 24px;
}

.lead .lead__wrap .lead-right .lead-column .lead-items .lead-items__top {
  font-size: 12px;
  line-height: 16px;
  color: #E94D35;
}

#header {
  overflow: hidden;
  padding-top: 27px;
  padding-bottom: 27px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container .logo {
  z-index: 24;
  position: relative;
}

.header__container .logo .logo__img {
  color: white;
}

.header__container .menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.header__container .menu .menu-list .menu__item {
  height: 24px;
  border-bottom: solid 1px;
}

.header__container .menu .menu-list .menu__item .menu__item-link {
  color: black;
}

.header__container .burger {
  display: none;
  cursor: pointer;
}

.header__container .buttom-talk {
  padding: 9px 27px;
  border: solid 1px;
}

.tayler .tayler__wrap {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tayler .tayler__wrap .tayler__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 675px;
          flex: 1 0 675px;
}

.tayler .tayler__wrap .tayler__container .tayler__strip {
  max-width: 473px;
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.tayler .tayler__wrap .tayler__container .tayler__botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 36px;
}

.tayler .tayler__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 630px;
          flex: 0 1 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tayler .tayler__img img {
  max-width: 100%;
}

.lead .lead__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 190px;
  padding-bottom: 125px;
}

.lead .lead__wrap .lead__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 351px;
          flex: 0 1 351px;
}

.lead .lead__wrap .lead__left .lead__left-strip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  padding-bottom: 22px;
}

.lead .lead__wrap .lead-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 598px;
          flex: 0 1 598px;
}

.lead .lead__wrap .lead-right > p {
  padding-bottom: 36px;
}

.lead .lead__wrap .lead-right .lead-right__title {
  padding-bottom: 28px;
}

.lead .lead__wrap .lead-right .lead-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lead .lead__wrap .lead-right .lead-column .lead-items .lead-items__top {
  padding-bottom: 10px;
}

.heppy {
  padding-bottom: 122px;
}

.heppy .heppy__wpap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heppy .heppy__wpap .heppy__column {
  border: solid 1px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 22px;
  padding-bottom: 22px;
}

.heppy .heppy__wpap .heppy__column .heppy__title {
  padding-bottom: 11px;
}

.heppy .heppy__wpap .heppy__column .heppy__parag {
  text-align: center;
}

.awards .awards__wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 120px;
}

.awards .awards__wrap img {
  padding-bottom: 22px;
  margin: 0 auto;
  display: block;
}

.awards .awards__wrap .awards__title {
  padding-bottom: 10px;
  text-align: center;
}

.awards .awards__wrap .awards__parag {
  letter-spacing: 1.44px;
  padding-bottom: 60px;
  text-align: center;
}

.awards .awards__wrap .awards__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px;
  padding-top: 38px;
  padding-bottom: 38px;
  margin-bottom: 24px;
  padding-left: 34px;
}

.awards .awards__wrap .awards__column .awards-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 24px;
  width: 48px;
  height: 48px;
  background: #E94D35;
}

.awards .awards__wrap .awards__column .awards-square .awards-square__title {
  color: #FFFFFF;
}

.awards .awards__wrap .awards__column .awards-row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.awards .awards__wrap .awards__column .awards__right {
  margin-right: 34px;
  text-align: end;
}

.portfolio .portfolio__wrap {
  padding-bottom: 125px;
}

.portfolio .portfolio__wrap img {
  padding-bottom: 22px;
  margin: 0 auto;
  display: block;
}

.portfolio .portfolio__wrap .portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-bottom: 95px;
}

.portfolio .portfolio__wrap .portfolio__row .portfolio-text {
  padding-right: 39px;
}

.portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__subtitle {
  background: #E94D35;
  padding: 3px 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 30px;
}

.portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__subtitle p {
  color: white;
  letter-spacing: 1.44px;
}

.portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__title {
  width: 519px;
  padding-bottom: 50px;
}

.portfolio .portfolio__wrap .portfolio__row .portfolio-row__img img {
  max-width: 100%;
}

.turn {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.services .services__wrap {
  padding-bottom: 120px;
}

.services .services__wrap .services-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 40px;
  padding-bottom: 40px;
}

.services .services__wrap .services-row .services-row__column {
  border: solid 1px;
  padding: 34px 49px 30px 34px;
}

.services .services__wrap .services-row .services-row__column .services-column__title {
  padding-bottom: 28px;
}

.customer .customer__wrap {
  padding-bottom: 65px;
}

.customer .customer__wrap .customer__title {
  padding-bottom: 60px;
}

.customer .customer__wrap .customer__row .customer-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
}

.customer .customer__wrap .customer__row .customer-column .customer-column__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 241px;
  height: 98px;
  border: solid 1px;
}

.customer .customer__wrap .customer__row .customer-column .customer-column__logo img {
  max-width: 100%;
}

@media (max-width: 1009.98px) {
  .heppy .heppy__wpap .heppy__column .heppy__title,
  .lead .lead__wrap .lead__left .lead__left-title,
  h1 {
    font-size: 46.6086956522px;
    line-height: 53.2670807453px;
  }

  .portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__title,
  .awards .awards__wrap .awards__title,
  .portfolio__title,
  .services__title,
  .customer__title {
    font-size: 37.6630434783px;
    line-height: 46.8695652174px;
  }

  .services .services__wrap .services-row .services-row__column .services-column__title,
  .lead .lead__wrap .lead-right > p {
    font-size: 27.1847826087px;
    line-height: 35.0771388499px;
  }

  .awards .awards__wrap .awards__column .awards-row .awards-row__title,
  .lead .lead__wrap .lead-right .lead-column .lead-items .lead-items__bottom,
  .lead .lead__wrap .lead__left .lead__left-strip p,
  .tayler .tayler__wrap .tayler__container .tayler__strip p {
    font-size: 20.652173913px;
    line-height: 28.7334593573px;
  }

  .portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__parag {
    font-size: 18.5326086957px;
    line-height: 29.652173913px;
  }

  .services .services__wrap .services-row .services-row__column .services-column__parag,
  .portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__subtitle p,
  .awards .awards__wrap .awards__column .awards-row .awards-row__parag,
  .awards .awards__wrap .awards__column .awards-square .awards-square__title,
  .awards .awards__wrap .awards__parag,
  .lead .lead__wrap .lead-right .lead-right__title,
  .portfolio__parag,
  .services__parag {
    font-size: 17.1195652174px;
    line-height: 30.4347826087px;
  }

  .awards .awards__wrap .awards__column .awards__right,
  .heppy .heppy__wpap .heppy__column .heppy__parag {
    font-size: 15.1195652174px;
    line-height: 30.2391304348px;
  }

  body {
    font-size: 15.1195652174px;
    line-height: 22.6793478261px;
  }

  .lead .lead__wrap .lead-right .lead-column .lead-items .lead-items__top {
    font-size: 11.4130434783px;
    line-height: 15.2173913043px;
  }

  .tayler .tayler__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tayler .tayler__wrap .tayler__container {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    padding-bottom: 30px;
  }

  .tayler .tayler__img {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
  }

  .lead .lead__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .lead .lead__wrap .lead__left {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    padding-bottom: 30px;
  }

  .lead .lead__wrap .lead-right {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
  }

  .portfolio .portfolio__wrap .portfolio__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .portfolio .portfolio__wrap .portfolio__row .portfolio-text {
    padding-bottom: 20px;
    width: 100%;
  }

  .portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__title {
    width: inherit;
  }

  .portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__parag {
    text-align: end;
  }

  .customer .customer__wrap {
    padding-bottom: 45.9239130435px;
  }
}

@media screen and (max-width: 991.98px) {
  #header .menu {
    position: fixed;
    background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  #header .menu.active {
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 22;
    pointer-events: all;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: fade 0.2s linear;
            animation: fade 0.2s linear;
  }

  #header .menu.active .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }

  #header .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;
  }

  #header .burger.active-burger:before {
    background: "white";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  #header .burger.active-burger:after {
    background: "white";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  #header .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  #header .burger:before,
  #header .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: "black";
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  #header .burger:before {
    top: 0;
  }

  #header .burger::after {
    bottom: 0;
  }

  #header .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: "black";
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  #header .menu__item {
    margin-top: 15px;
  }

  #header .menu__item-link {
    color: white;
  }

  #header .buttom-talk {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .heppy .heppy__wpap .heppy__column .heppy__title,
  .lead .lead__wrap .lead__left .lead__left-title,
  h1 {
    font-size: 38.1913043478px;
    line-height: 43.6472049689px;
  }

  .portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__title,
  .awards .awards__wrap .awards__title,
  .portfolio__title,
  .services__title,
  .customer__title {
    font-size: 31.0869565217px;
    line-height: 38.6859903382px;
  }

  .services .services__wrap .services-row .services-row__column .services-column__title,
  .lead .lead__wrap .lead-right > p {
    font-size: 23.7652173913px;
    line-height: 30.6647966339px;
  }

  .awards .awards__wrap .awards__column .awards-row .awards-row__title,
  .lead .lead__wrap .lead-right .lead-column .lead-items .lead-items__bottom,
  .lead .lead__wrap .lead__left .lead__left-strip p,
  .tayler .tayler__wrap .tayler__container .tayler__strip p {
    font-size: 18.547826087px;
    line-height: 25.8056710775px;
  }

  .portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__parag {
    font-size: 17.2173913043px;
    line-height: 27.547826087px;
  }

  .services .services__wrap .services-row .services-row__column .services-column__parag,
  .portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__subtitle p,
  .awards .awards__wrap .awards__column .awards-row .awards-row__parag,
  .awards .awards__wrap .awards__column .awards-square .awards-square__title,
  .awards .awards__wrap .awards__parag,
  .lead .lead__wrap .lead-right .lead-right__title,
  .portfolio__parag,
  .services__parag {
    font-size: 16.3304347826px;
    line-height: 29.031884058px;
  }

  .awards .awards__wrap .awards__column .awards__right,
  .heppy .heppy__wpap .heppy__column .heppy__parag {
    font-size: 14.3304347826px;
    line-height: 28.6608695652px;
  }

  body {
    font-size: 14.3304347826px;
    line-height: 21.4956521739px;
  }

  .lead .lead__wrap .lead-right .lead-column .lead-items .lead-items__top {
    font-size: 10.8869565217px;
    line-height: 14.515942029px;
  }

  .lead .lead__wrap {
    padding-bottom: 45px;
    padding-top: 80px;
  }

  .awards .awards__wrap .awards__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }

  .awards .awards__wrap .awards__column .awards-square {
    margin-bottom: 15px;
  }

  .services .services__wrap .services-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .customer .customer__wrap {
    padding-bottom: 28.8260869565px;
  }
}

@media (max-width: 479.98px) {
  .heppy .heppy__wpap .heppy__column .heppy__title,
  .lead .lead__wrap .lead__left .lead__left-title,
  h1 {
    font-size: 28.1739130435px;
    line-height: 32.198757764px;
  }

  .portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__title,
  .awards .awards__wrap .awards__title,
  .portfolio__title,
  .services__title,
  .customer__title {
    font-size: 23.2608695652px;
    line-height: 28.9468599034px;
  }

  .services .services__wrap .services-row .services-row__column .services-column__title,
  .lead .lead__wrap .lead-right > p {
    font-size: 19.6956521739px;
    line-height: 25.4137447405px;
  }

  .awards .awards__wrap .awards__column .awards-row .awards-row__title,
  .lead .lead__wrap .lead-right .lead-column .lead-items .lead-items__bottom,
  .lead .lead__wrap .lead__left .lead__left-strip p,
  .tayler .tayler__wrap .tayler__container .tayler__strip p {
    font-size: 16.0434782609px;
    line-height: 22.3213610586px;
  }

  .portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__parag {
    font-size: 15.652173913px;
    line-height: 25.0434782609px;
  }

  .services .services__wrap .services-row .services-row__column .services-column__parag,
  .portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__subtitle p,
  .awards .awards__wrap .awards__column .awards-row .awards-row__parag,
  .awards .awards__wrap .awards__column .awards-square .awards-square__title,
  .awards .awards__wrap .awards__parag,
  .lead .lead__wrap .lead-right .lead-right__title,
  .portfolio__parag,
  .services__parag {
    font-size: 15.3913043478px;
    line-height: 27.3623188406px;
  }

  .awards .awards__wrap .awards__column .awards__right,
  .heppy .heppy__wpap .heppy__column .heppy__parag {
    font-size: 13.3913043478px;
    line-height: 26.7826086957px;
  }

  body {
    font-size: 13.3913043478px;
    line-height: 20.0869565217px;
  }

  .lead .lead__wrap .lead-right .lead-column .lead-items .lead-items__top {
    font-size: 10.2608695652px;
    line-height: 13.6811594203px;
  }

  .tayler .tayler__wrap .tayler__container .tayler__strip {
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
  }

  .heppy {
    padding-bottom: 45px;
  }

  .portfolio .portfolio__wrap {
    padding-bottom: 25px;
  }

  .portfolio .portfolio__wrap .portfolio__row {
    padding-bottom: 30px;
  }

  .services .services__wrap {
    padding-bottom: 20px;
  }

  .customer .customer__wrap {
    padding-bottom: 8.4782608696px;
  }
}

@media (max-width: 359.98px) {
  .heppy .heppy__wpap .heppy__column .heppy__title,
  .lead .lead__wrap .lead__left .lead__left-title,
  h1 {
    font-size: 24px;
    line-height: 27.4285714286px;
  }

  .portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__title,
  .awards .awards__wrap .awards__title,
  .portfolio__title,
  .services__title,
  .customer__title {
    font-size: 20px;
    line-height: 24.8888888889px;
  }

  .services .services__wrap .services-row .services-row__column .services-column__title,
  .lead .lead__wrap .lead-right > p {
    font-size: 18px;
    line-height: 23.2258064516px;
  }

  .awards .awards__wrap .awards__column .awards-row .awards-row__title,
  .lead .lead__wrap .lead-right .lead-column .lead-items .lead-items__bottom,
  .lead .lead__wrap .lead__left .lead__left-strip p,
  .tayler .tayler__wrap .tayler__container .tayler__strip p {
    font-size: 15px;
    line-height: 20.8695652174px;
  }

  .portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__parag {
    font-size: 15px;
    line-height: 24px;
  }

  .services .services__wrap .services-row .services-row__column .services-column__parag,
  .portfolio .portfolio__wrap .portfolio__row .portfolio-text .portfolio-text__subtitle p,
  .awards .awards__wrap .awards__column .awards-row .awards-row__parag,
  .awards .awards__wrap .awards__column .awards-square .awards-square__title,
  .awards .awards__wrap .awards__parag,
  .lead .lead__wrap .lead-right .lead-right__title,
  .portfolio__parag,
  .services__parag {
    font-size: 15px;
    line-height: 26.6666666667px;
  }

  .awards .awards__wrap .awards__column .awards__right,
  .heppy .heppy__wpap .heppy__column .heppy__parag {
    font-size: 13px;
    line-height: 26px;
  }

  body {
    font-size: 13px;
    line-height: 19.5px;
  }

  .lead .lead__wrap .lead-right .lead-column .lead-items .lead-items__top {
    font-size: 10px;
    line-height: 13.3333333333px;
  }

  .customer .customer__wrap {
    padding-bottom: 0px;
  }
}